<button nz-button nzType="primary" (click)="open()">💻 Nuevo alistamiento</button>

<hr>

  <nz-table #basicTable [nzData]="data">
    <thead>
      <tr>
        <th class="th">Usuario</th>
        <th class="th">OPCO</th>
        <th class="th">Serial</th>
        <th class="th">Placa</th>
        <th class="th">Estado</th>
        <th class="th">Acta</th>
      </tr>
    </thead>
    <tbody>
      @for (item of data; track $index) {
        <tr>
          <td>{{item.usuario}}</td>
          <td>{{item.opco}}</td>
          <td>{{item.serial}}</td>
          <td>{{item.plate}}</td>
          <td>
            <nz-tag [nzColor]="item.status === 'Pendiente' ? 'error' : 'success'">{{item.status}}</nz-tag>
          </td>
          <td>
            @if(item.status === 'Finalizado') {
              <a href="{{item.document_acta}}" [download]="item.document_acta" nz-button nzType="primary" target="_blank">Descargar acta</a>
            }@else {
              <button nz-button nzType="default" (click)="open()">Cargar acta</button>
            }
          </td>
        </tr>
      }

    </tbody>
  </nz-table>




<nz-drawer
      [nzBodyStyle]="{ overflow: 'auto' }"
      [nzMaskClosable]="false"
      [nzWidth]="400"
      [nzVisible]="visible"
      nzTitle="Crear nuevo alistamiento"
      [nzFooter]="footerTpl"
      (nzOnClose)="close()"
    >

    <ng-container *nzDrawerContent>
      <app-form-alistamientos></app-form-alistamientos>
  </ng-container>

    <ng-template #footerTpl>
      <div style="float: right">
        <button nz-button style="margin-right: 8px;" (click)="close()">Cancelar</button>
        <!-- <button nz-button nzType="primary" (click)="close()">Enviar</button> -->
      </div>
    </ng-template>

    <nz-drawer/>
