<button nz-button nzType="primary" (click)="userData?.rol === 'Administrador' ? showModal() : open()">💻{{getButtonText() }}</button>

<hr>

  <nz-table #basicTable [nzData]="data">
    <thead>
      <tr>
        <th class="th">Usuario</th>
        <th class="th">OPCO</th>
        <th class="th">Serial</th>
        <th class="th">Placa</th>
        <th class="th">Estado</th>
        @if(userData.rol === 'Administrador') {
          <th class="th">Técnico</th>
        }
        <th class="th">Acta</th>
      </tr>
    </thead>
    <tbody>
      @for (item of data; track $index) {
        <tr>
          <td>{{item.usuario}}</td>
          <td>{{item.opco ?? 'No asignado'}}</td>
          <td>{{item.serial ?? 'No asignado'}}</td>
          <td>{{item.plate ?? 'No asignado'}}</td>
          <td>
            <nz-tag [nzColor]="item.status === 'Pendiente' ? 'error' : 'success'">{{item.status}}</nz-tag>
          </td>
          @if (userData.rol === 'Administrador') {
            <td>{{item.tecnico ?? 'No asignado'}}</td>
          }
          <td>
            @if(item.status === 'Finalizado') {
              <a href="{{item.document_acta}}" [download]="item.document_acta" nz-button nzType="primary" target="_blank">Descargar acta</a>
            }@else {
              <button nz-button nzType="default" (click)="open()">Cargar acta</button>
            }
          </td>
        </tr>
      }

    </tbody>
  </nz-table>

<nz-drawer
      [nzBodyStyle]="{ overflow: 'auto' }"
      [nzMaskClosable]="false"
      [nzWidth]="400"
      [nzVisible]="visible"
      nzTitle="Crear nuevo alistamiento"
      [nzFooter]="footerTpl"
      (nzOnClose)="close()"
    >

    <ng-container *nzDrawerContent>
      <app-form-alistamientos
      (alistamientoCreado)="onAlistamientoCreado()">
    </app-form-alistamientos>
  </ng-container>

    <ng-template #footerTpl>
      <div style="float: right">
        <button nz-button style="margin-right: 8px;" (click)="close()">Cancelar</button>

      </div>
    </ng-template>

    <nz-drawer/>



    <nz-modal [(nzVisible)]="isVisible" nzTitle="Asignacion de alistamiento" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
      <ng-container *nzModalContent>
        <form class="form" [formGroup]="formAsignacion">
          <label for="usuario">Correo del usuario</label>
          <div class="input-email input">
            <input class="input-text" nz-input type="text" formControlName="usuario" >
            @if (invalidField('usuario')) {
              <div class="error" >
                  <span > Campo obligatorio </span>
              </div>
            }
            @if(formAsignacion.controls['usuario'].errors?.['email']) {
              <span class="error">Ingresa un correo valido</span>
            }
          </div>
          <label for="tecnico">Técnico</label>
          <div class="input-tecnico input">
            <nz-select class="input-select" formControlName="tecnico" nzPlaceHolder="Seleccione una opcion">
              @for (item of dataPerfiles; track item?.id) {
                <nz-option [nzValue]="item?.username" [nzLabel]="item.username"></nz-option>
              }
            </nz-select>
            @if (invalidField('tecnico')) {
              <div class="error" >
                  <span > Campo obligatorio </span>
              </div>
            }
          </div>
        </form>
      </ng-container>
    </nz-modal>
