section {
  font-family: "Nunito", sans-serif;
  color: rgb(50, 81, 102);
}

.inputs {
  margin-bottom: 10px;
}

.uppercase-text {
  text-transform: uppercase;
}


.group-inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


nz-date-picker {
  width: 170px;
}

nz-select {
  width: 170px;
}


.bnt-submit {
  width: 100%;
}

.btn-upload {
  width:200px
}
