<section class="container">
  <form nz-form [formGroup]="formAlistamientos">

    <div class="group-inputs inputs">
      <div class="date groups-one">
        <label for="date">Fecha</label>
        <div>
          <nz-date-picker formControlName="date"></nz-date-picker>
        </div>
      </div>

      <div class="opco groups-one">
        <label for="opco">OPCO</label>
        <div>
          <nz-select class="input" formControlName="opco" nzPlaceHolder="Seleccione una opcion">
            <nz-option nzValue="GroupM" nzLabel="GroupM" ></nz-option>
            <nz-option nzValue="VML" nzLabel="VML" ></nz-option>
          </nz-select>
        </div>
      </div>

    </div>



    <div class="inputs">
      <label for="usuario">Usuario</label>
        <input nz-input type="text" formControlName="usuario">
    </div>

    <div class="inputs">
      <label for="serial" formControlName="serial">Serial</label>
      <input nz-input type="text" formControlName="serial">
    </div>

    <div class="inputs">
      <label for="plate">Placa</label>
      <input nz-input type="text" formControlName="plate">
    </div>

    <div class="inputs">
      <label for="model_pc">Modelo PC</label>
      <input nz-input type="text" formControlName="model_pc">
    </div>

    <div class="inputs">
      <label for="ticket">Ticket</label>
      <input nz-input type="text" formControlName="ticket">
    </div>

    <div class="inputs">
      <label for="description">Comentarios</label>
      <textarea rows="2" nz-input formControlName="description"></textarea>
    </div>

    <div class="inputs">
        <nz-upload [(nzFileList)]="fileList" [nzBeforeUpload]="beforeUpload">
      <button nz-button>
        Selecciona el acta
      </button>
    </nz-upload>
    <br />
    <button
      nz-button
      nzType="primary"
      [nzLoading]="uploading"
      (click)="handleUpload()"
      [disabled]="fileList.length === 0"
    >
      {{ uploading ? 'Cargando' : 'Cargar' }}
    </button>
    </div>

    <button (click)="enviar()">Enviar</button>


  </form>
</section>
