<section>
  <div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
</div>
<form class="form">
    <h3 class="title-form">Login</h3>

    <label class="label" for="username">Correo</label>
    <input class="input" type="text" placeholder="example@hotmail.com" id="username">

    <label class="label" for="password">Password</label>
    <input class="input" type="password" placeholder="******" id="password">

    <button class="btn">Ingresar</button>
</form>
</section>
