<section>
  <div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
  </div>
  <form class="form" [formGroup]="formLogin">
    @if (isErrorResp) {
      <nz-alert nzType="error" [nzMessage]="textErrorResp" nzShowIcon></nz-alert>
    }
    @if (isAutenticado) {
      <nz-alert nzType="success" nzMessage="Cuenta creada exitosamente!!"></nz-alert>
    }
    <h3 class="title-form">{{ isLoginView ? 'Login' : 'Registro' }}</h3>

    @if (!isLoginView) {
      <label class="label" for="username">Nombres</label>
      <input
        class="input"
        type="text"
        placeholder="Nombres"
        formControlName="username"
        id="username"
      >
      @if(invalidField('username')) {
        <div>
          <span class="error">Este campo es requerido</span>
        </div>
      }
    }

    @if (!isLoginView) {
      <label class="label" for="rol">Cargo</label>
      <select class="input" formControlName="rol" id="rol" placeholder="Selecciona un cargo">
        <option value="" disabled selected>Selecciona un cargo</option>
        <option value="Analista de Soporte">Analista de Soporte</option>
        <option value="Administrador">Administrador</option>
        <option value="Dispatcher">Dispatcher</option>
      </select>
      @if(invalidField('rol')) {
        <div>
          <span class="error">Este campo es requerido</span>
        </div>
      }
    }

    <label class="label" for="email">Correo</label>
    <input
      class="input"
      type="text"
      placeholder="example@hotmail.com"
      formControlName="email"
      id="email"
    >
    @if(invalidField('email')) {
      <div>
        <span class="error">Este campo es requerido</span>
      </div>
    }
    @if(formLogin.controls['email'].errors?.['email']) {
      <span class="error">Ingresa un correo valido</span>
    }

    <label class="label" for="password">Password</label>
    <input
      class="input"
      type="password"
      placeholder="******"
      id="password"
      formControlName="password"
    >
    @if(invalidField('password')) {
      <div>
        <span class="error">Este campo es requerido</span>
      </div>
    }
    @if(formLogin.controls['password'].errors?.['minlength']) {
      <span class="error">Minimo 6 caracteres</span>
    }

    <button
      [disabled]="formLogin.invalid"
      [ngClass]="{'btn-inactivo': formLogin.invalid, 'btn-activo': formLogin.valid}"
      class="btn"
      type="button"
      (click)="isLoginView ? login() : register()"
    >{{isLoginView ? 'Ingresar' : 'Registrarse'}}</button>

    @if (isLoginView) {
      <div>
        <span>Aun no tienes cuenta? <a  (click)="toggleView()">Registrate</a></span>
      </div>
    }

    @if (!isLoginView) {
      <div>
        <span>Ya tienes una cuenta? <a (click)="toggleView()">Iniciar sesión</a></span>
      </div>
    }

    @if (isLoader) {
      <div class="loader-container">
        <span class="loader"></span>
      </div>
    }
  </form>
</section>
